<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport"><!-- load bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"><!-- load font-awesome -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="Stylesheet" type="text/css">
	<link href="/styles/shared.css?version=1" rel="stylesheet" type="text/css">
	<link href="/styles/login.css?version=1" rel="stylesheet" type="text/css">
	<link href="/styles/home-screen.css?version=1" rel="stylesheet" type="text/css"><!-- load nice google font -->
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css"><!-- load jquery -->

	<script src="https://code.jquery.com/jquery-3.2.1.min.js">
	</script><!-- load angular js -->

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js">
	</script>
	<title>Great NWCU</title>
	<link href="/img/GreatNWCUIcon.png" rel="icon">
</head>
<body  ng-app="">
	<div class="container">
		<div class="span12">
			<br>
			<img class="logo" src="/img/logo.png">
			<!-- <hr> -->
			<div class="starter-template">
				<%- body %>
			</div>
		</div>
	</div>
</body>
</html>