<% layout('layout') -%>

<img src="../img/thanks@3x.png" class="img-responsive">
<!-- <div class="container"> -->
  <div class="box-thanks">
    <br>
    <p class="Online-Banking">We’re excited to bank with you. For signing up with Trusted Key, we’re attaching $100 worth of credit.</p>
    <img src="/img/certificate.png" class="certificate">
    <br>
    <button onclick="continueHome();" class="btn GreenButton">
      <span class="Verify-Identity">Continue</span>
    </button>
  </div>
<!-- </div> -->

<script>
    function continueHome() {
      location.href='/account';
    }
</script>