<% layout('layout') -%>

<img src="img/openaccount@3x.png" class="img-responsive">
<br>
<div class="row">
	<div class="col-sm-6">
		<img src="img/content@3x.png" class="img-responsive">
	</div>
	<div class="col-sm-6">
		<div class="box">
			<h3>Verify your identity</h3>
			<hr>
			<p>To open your account, we need to <b>confirm that it’s you</b> and verify your full name, date of birth, email address, gender, and driver’s license number.</p>
			<button onclick="location.href='/register';" style="border: none; max-width: 250px; margin-left: -8px;">
				<img src="img/verify-identity.png" class="img-responsive">
			</button>
		</div>
	</div>
</div>
<br>