.main-box {
  background-color: #E7F2F2;
  margin-top: 30px;
  padding: 20px 40px 30px 40px;
}

.main-box h3 {
  color: #167c80;
  font-weight: bold;
}

.banking {
  padding: 20px 40px 30px 40px;
}

.banking h3 {
  color: #167c80;
  font-weight: bold;
  font-size: 20px;
}

.Sign-Out {
  max-width: 87.9px;
  height: 16px;
  /*font-family: 'Helvetica Neue';*/
  font-size: 16px;
  color: #9b9b9b;
  font-weight: 500;
}

.deleteUser {
  max-width: 87.9px;
  height: 16px;
  /*font-family: ArialMT;*/
  font-size: 16px;
  color: #D54545;
  font-weight: 500;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header li {
    display: inline;
    float: right;
}

label {
  display: block;
  font-weight: normal;
  color: #888;
}
